body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}

.h3expericenc-color{
    color: white;
}

.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    /* padding-left: 7%;
    padding-right: 5%; */
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.font-size-for-name{
    font-size:34px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
/* .top-banner{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
  
} */
.experience-item{
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-left: 10px solid;

}
#experience-right{
    border-right: 7px solid;
    background-image: linear-gradient(orange, cyan);

}
#experience-left{
    border-left: 7px solid;
    background-image: linear-gradient(orange, rgb(135, 233, 233));
    
}